.mystyle-h2 {
    font-size: 1em !important;
}

.mystyle-p {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
    margin: 0 0;
}

a#scraping:hover {
    cursor:pointer;
    border: 2px solid #fff;
}

a.nav-link:hover {
    border: 2px solid #fff;
}

.empty-col {
    text-align: center;
    color: red;
}

.btn-col {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-notes, .btn-unsaved {
    width: 100%;
    padding: 5px 0;
    font-size: 13px;
}

.btn-notes {
    margin-bottom: 10px;
}

.btn-unsaved {
    background-color: red;
}

.btn-unsaved:hover {
    background-color:#b00802 !important;
}

.modal-title {
    margin: 0;
}

.modal-body {
    margin: 0;
    font-size: 14px;
}

.modal-footer button {
    padding: 5px 10px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #ddd;
}

.panel-body {
    padding: 10px 13px;
}

#noteView .row {
    width: 100%;
    margin: auto 0;
}

#noteView button {
    color: white;
    background-color: red;
    padding: 5px 10px;
    margin-top: 3px;
}

