.titlebox {
    background-image: url('/img/dogs_bg_denim.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 280px;
    text-align: center;
    vertical-align: center;
    /* opacity: 0.3; */
    /* filter: alpha(opacity=30); */
    font-family: 'Holtwood One SC', serif;
    color: #fff;
    text-shadow: 0 0 5px #000;
    margin-bottom: 20px;
}

.titlebox h1 {
    margin-top: 90px;
    font-size: 3.5em;
}

.titlebox p {
    font-size: 1.8em;
}

